<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><%= title %></div>
    ------------------------
    <main>
    <% messages.forEach(message => { %>
        <div> Message: <%= message.text %> </div>
        <div> User: <%= message.user %> </div>
        <div> Date: <%= message.added %></div>
        <div>------------------------</div>
    <% }); %>
    </main> 
</body>
</html>

